<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma/css/bulma.css">
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
    <title>Ghost Covers & Attachments Managment</title>
</head>

<body>
    <div id="cover-app">
        <ghost-covers></ghost-covers>
    </div>
    <div id="attachment-app">
        <h1 class="title">Attachments</h1>
        <div class="file" style="margin-bottom:15px;">
            <label class="file-label">
                <input class="file-input" type="file" name="file">
                <span class="file-cta">
                    <span class="file-label">
                        Choose a file to upload
                    </span>
                </span>
            </label>
        </div>

        <table class="table is-bordered">
            <thead>
                <th>File Name</th>
                <th>Size</th>
                <th>type</th>
                <th>Operation</th>
            </thead>
            <tbody>
                {{range .}}
                <tr v-for="p in posts">
                    <td>{{.Name}}</td>
                    <td><code>{{.Size}} bytes</code></td>
                    <td><code>{{.Ext}}</code></td>
                    <td>
                        <button class="button is-small is-outlined">Copy Link</button>
                        <button class="button is-small is-danger is-outlined">Delete</button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <script src="/upload/assets/js/app.js"></script>
</body>

</html>